.sign {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.sign h1 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-weight: 10;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: orangered;

}

.for {
    width: 50%;
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50) 5%);
    border-radius: 10px;
    justify-content: center;
    align-self: center;
    display: flex;
    height: 400px;
}

.for form {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.for form input {
    font-size: 20px;
    height: 40px;
    width: 80%;
    border: none;
    color: black;
    background-color: gainsboro;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#sign {
    height: 50px;
    cursor: pointer;
    width: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 900;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    background-color: orange;
}

#sign:hover {
    background-color: red;
}