.footer {
    width: 100%;
    height: 250px;
    background: black;
    margin-top: 50px;
}

.tags {
    margin-top: 10px;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.tag {
    margin-left: 100px;
    margin-right: 100px;
    color: white;
}

.tag h1 {
    font-size: 20px;
    color: orangered;
}

.tag a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    font-size: 13px;
    padding: 5px;
}

.tag a:hover {
    color: aqua;
}

.tagicon {
    color: white;
    margin-left: 100px;
    margin-bottom: 85px;

}

.tagicon h1 {
    font-size: 20px;
    color: orangered;
}

.tagicon svg {
    font-size: 20px;
    padding-right: 20px;
    justify-content: space-around;
}

.tagicon svg:hover {
    color: orange;
}

.footer p {
    color: white;
    justify-content: center;
    align-self: center;
    margin-left: 600px;
    margin-top: 40px;
}